// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "variables";

@import "~@fortawesome/fontawesome-free/css/all.min.css";

@import "custom";

.vue-typer 
{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 20px;

    .custom.char 
    {
        color: #0c2e8a;
        background-color: transparent;
    }

}
.modal-backdrop
{
    opacity:0.5 !important;
}

.user-bild {
    margin-left: 22px;
    margin-top: 22px;
}

svg.user-bild {
    background: #8bc73d !important;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 25px;
}